<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page - Demo CAS</title>
</head>
<body>
    <h1>Home Page - Demo CAS!</h1>

    {% if app.user %}
        <p>You are connected:</p>
        <ul>
            <li>login : {{ app.user.userIdentifier }}</li>
            <li>email : {{ app.user.getAttribute('mail') }}</li>
        </ul>
        <a href="{{ path('app_cas_logout') }}">Logout</a>
    {% else %}
        <p>You are not connected. Go to <a href="{{ path('app_private') }}">Private Page</a>.</p>
    {% endif %}

    <hr>

    <p>Other Pages:</p>
    <ul>
        <li><a href="{{ path('app_public') }}">Public Page</a></li>
        <li><a href="{{ path('app_private') }}">Private Page</a></li>
    </ul>
</body>
</html>
