<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil Demo CAS</title>
</head>
<body>
    <h1>Bienvenue sur la démo CAS !</h1>

    {% if app.user %}
        <p>Vous êtes connecté :</p>
        <ul>
            <li>Login : {{ app.user.userIdentifier }}</li>
            <li>Email : {{ app.user.getAttribute('mail') }}</li>
        </ul>
        <a href="{{ path('app_cas_logout') }}">Déconnexion</a>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}

    <hr>

    <p>Liens de la démo :</p>
    <ul>
        <li><a href="{{ path('app_public') }}">Page publique (pas besoin de login)</a></li>
        <li><a href="{{ path('app_private') }}">Page privée (login CAS requis)</a></li>
    </ul>
</body>
</html>
